@import "react-big-calendar/lib/css/react-big-calendar.css";
/* @import "react-big-calendar/lib/sass/styles"; */
body,
html {
  margin: 0;
  padding: 0;
}

.filtering .rbc-time-view,
.filtering .rbc-month-view {
  opacity: 0.5;
}

.rbc-month-view {
  overflow: auto;
}

.rbc-row-content .rbc-row:nth-child(n + 6) {
  display: none;
}

.rbc-row {
  padding-top: 8px !important;
}
.rbc-event {
  height: 40px;
}
